body {
    font-family: Arial, sans-serif;
    background-color: #f6f4f8;
}

.form-box {
    width: 680px;
    background-color: #ffffff;
    padding: 20px;
    margin: 30px auto;
    border-radius: 6px;
    border: 3px solid #8e24aa;
}

h2 {
    text-align: center;
    color: #760782;
}

h3 {
    background-color: #f2daf7;
    padding: 6px;
    color: #760782;
}

label {
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 6px;
    margin: 5px 0 10px 0;
    border: 1px solid #999;
    border-radius: 4px;
}

.btn {
    padding: 8px 15px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.submit-btn {
    background-color: #4caf50;
    color: white;
}

.reset-btn {
    background-color: #f44336;
    color: white;
}